

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Logo must not appear too large on mobile */
 
body{
	font-family: 'Poiret+One';
}

.navbar{
  margin-bottom: 0jquery.hovercap.jsjquery.hovercap.jspx;
}

 .portal-logo {
   max-width: 10%;
}

.jumbotron{
    height: 450px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #BF18BA;
}

.wideImage{
 border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.featureImg{
	   border-radius: 15px;
    display: block;
    margin: 0 auto;
}

a {
	font-family: 'Indie Flower';
}


div.polaroid {

  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


