/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.portal-logo {
   max-width: 8%;
}

.navbar-default {
    box-shadow: none;
    background-color: transparent;
    border: none;
    transition : 1s all ease;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.nav > li.active{
    background-color: #000000;
     transition : 1s all ease;
    
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    font-size: 1.5em;
} 


h1{
    font-size: 5em;
    color: #000000;
}
section#home{
    height: 950px;
    background-image: url("../img/portfolioXL.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div.homecontainer{
    padding-top: 200px;
}

div.aboutContainer{
    padding-top: 35px;
}
div.projectContainer{
    padding-top: 35px;
}

div.mapContainer{
    padding-top: 35px;
}

div.contactContainer{
    padding-top: 35px;
}

div.contactRow{
    padding-top: 100px;
}

section#about{
    height: 950px;
    background-image: url("../img/office.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section#projects{
    height: 950px;
    background-image: url("../img/board.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section#contact{
    height: 950px;
    background-image: url("../img/map.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}

div.container>h3 , .mapText{
    color: #ffffff;
}

.mapText:after , div.container>h3:after{
    content: "";
    height: 3px;
    width: 50px;
    background-color: #ffffff;
    display:block;
    margin : 0 auto;
    margin-top : 10px;  
}

div.aboutRow{
    padding-top: 150px;
}

p.aboutParagraph {
    font-size: 1.5em;
    color: #FFF;
}

.fa-ul>li {
    font-size: 1em;
    color: #FFF;
}

.aboutmeH4{
    color: #FFF;
}

.well{
    background-color: transparent;
}

.effect{
    background-color: #00324B;
    min-height: 30px;
    box-shadow: 0 0 10px black;
    padding-top: 0;
    transition : 1s all ease;

}

footer{
    padding-top: 250px;
    color: white;
}

.list-inline>li>a
 {
    color: white;
}

.projWell{
    background-color: transparent;
    font-size: 1.3em;
    color: #FFF;
}

.contactWell{
    background-color: transparent;
    font-size: 1em;
    color: #FFF;
}

.blue-circle {
    
    width: 100%;
    padding-bottom : 100%;
    background-color: #15365b; 
    border-radius : 50%;
    -moz-border-radius : 50%;
    -webkit-border-radius : 50%;
    margin : 0 auto;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 830px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }   
}

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/*Map CSS*/

section#places{
    height: 950px;
    background-image: url("../img/mapSec.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
    
#map {
    height: 100%;
}
.mapContainer,.mapRow , .mapCol{
    height: 100%;
}
